<ion-view title="Favoritos">
   <ion-content padding="true" class="has-header">
      <h4>Favoritos</h4>
      <button class="button button-positive button-block " ng-click="buscar()">Buscar</button>
      <img ng-show="imgO !== undefined" ng-src="{{imgO}}" style="text-align: center; width:25%; display:block;">

      <br>
      <label>Confianza:</label>
      <label>{{confi}}</label>
      <br>
      <label>Indentificado como:</label>
      <label>{{tags}}</label>
      <br>
       <h3>Resultado:</h3>
      <p>{{datos}}</p>
      <!--ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="https://s3.amazonaws.com/ionic-io-static/fjj3qIMTT86SKNSkGXan_sdd.jpg">
                <h2>Shakira</h2>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos</p>
            </ion-item>
        </ion-list->
    </ion-content>
</ion-view>
